


th {
    text-align: left;
    font-size: x-large;
}

.wrestlertable { 
    border-block: solid 1px black;
    background-color: beige;
}

input {
    width: 99%;
    font-size: x-large;
    padding: 0.2rem;
}