
body {
    background-color: whitesmoke
}

th {
    text-align: center;
    font-size: large;
    
}

.wrestlertable { 
    
    background-color: beige;
    text-align: center;
    border: solid 3px black;
}

input {
    width: 99%;
    font-size: x-large;
    padding: 0.2rem;
    background-color: white;
}