


th {
    text-align: center;
    font-size: large;
    
}

.wrestlertable { 
    border-block: solid 1px black;
    background-color: beige;
    text-align: center;
}

input {
    width: 99%;
    font-size: x-large;
    padding: 0.2rem;
}